/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

.main_content {
    width: 70%;
    margin: auto;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    margin-bottom: 0px;
    background-image: url(/images/header-background.png);
}

.navbar-inverse {
    background-color: #555555;
    border-color: #080808;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #f1299f;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #f1299f;
    background-color: transparent;
}

.navbar-brand {
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
}

.carousel-control {
    width: 10%;
}

.btn-primary {
    color: #ffffff;
    background-color: #c81880;
    border-color: #a10c6d;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #f1299f;
    border-color: #c81880;
}

.header-border {
    width: 100%;
    height: 10px;
    background-color: #f1299f;
    box-shadow: 0px 3px 10px #888888;
}

.header-shadow {
    width: 100%;
    height: 10px;
    margin-bottom: 20px;
    background-image: url(../images/top-shadow.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 300px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
    background-color: #777;
    background-image: url(../images/header-background.png);
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.highlights {
    padding-left: 15px;
    padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.highlights .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.highlights h2 {
    font-weight: normal;
}
.highlights .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.page-heading {
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    color: #f1299f;
    text-shadow: 2px 2px 5px #888888;
}

/* gallery css */
.image-row {
    *zoom: 1;
    margin-bottom: 20px;
}
.image-row:after {
    content: "";
    display: table;
    clear: both;
}

.example-image-link {
    display: inline-block;
    margin: 0 20px 20px 0;
    line-height: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 3px solid #5e5e5e;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.example-image-link:hover {
    border: 3px solid #f1299f;
}

.param-header {
    border: 6px solid #dfdfdf;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.param-header:hover {
    border: 6px solid #f1299f;
}

.afterlead {
    font-size: 13.099999999999998px;
    font-weight: normal;
    line-height: 1.4;
}

table.afterlead {
    margin: 15px 0px 15px 0px;
}

table.afterlead td{
    padding-right: 20px;
    padding-bottom: 0px;
}

.btn-contactme {
    font-size: 13.099999999999998px;
    font-weight: normal;
    margin: 0px 0px 50px 30px;
}

td.price {
    white-space: nowrap;
    text-align: right;
}

.bold {
    font-weight: 600;
}

.text-muted {
    font-size:80%;
}

.label-highlight {
    background-color: #f1299f;
}

.label-highlight[href]:hover,
.label-highlight[href]:focus {
    background-color: #c81880;
}

.myphoto {
    margin-left: 0px;
    border-radius: 3px;
}

a.no-decor {
    color: #5a5a5a;
}

a.no-decor:hover,
a.no-decor:focus {
    color: #2a6496;
    text-decoration: none;
}

.img-title{
    width: 250px;
}

#contact-form input, 
#contact-form textarea, 
#contact-form label {
    margin-bottom:10px;
}

#contact-form input, 
#contact-form textarea {
    display:block;
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
    -webkit-box-shadow: 0 0 25px #ccc;
    -moz-box-shadow: 0 0 25px #ccc;
    box-shadow: 0 0 25px #ccc;

    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05); 
    transform: scale(1.05); 
}

#contact-form textarea {
    height:150px;
    resize: none;
}

#contact-form label {
    display:block;
}

#contact-form .required {
    font-weight:bold;
    color:#F00;	
}

#contact-form #submit-button {
    width: 100px;
}


#contact-form #loading {
    width:32px;
    height:32px;
    display:block;
    margin-left: 120px;
    margin-top: -52px;
    background-image:url(../icons/loading.gif);
}

#errors {
    border:solid 1px #E58E8E;
    padding:15px;
    margin:25px 0px;
    display:block;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../icons/cancel_48.png) no-repeat right;
    display:none;
}

#errors li {
    padding:2px;
    list-style:none;	
}

#errors li:before {
    content: ' - ';	
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';	
}

#success {
    border:solid 1px #83D186;
    padding:15px;
    margin:25px 0px;
    display:block;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../icons/accepted_48.png) no-repeat right;
    font-weight:bold;
    display:none;
}

#errors.visible, #success.visible {
    display:block;	
}

#req-field-desc {
    font-style:italic;
}

.parallelogram {
    width: 175px;
    border-radius: 50px 5px 50px 5px;
    margin-top: 25px;
    -webkit-border-radius: 50px 5px 50px 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 5px;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
    color:#CCC;
    font-style:italic;
}

@media (min-width: 480px) {
    .img-title{
        width: 300px;
    }
}

@media (min-width: 600px) {
    .img-title{
        width: 400px;
    }
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    table.afterlead {
        margin: 30px 0px 50px 30px;
    }

    table.afterlead td{
        padding-right: 60px;
        padding-bottom: 5px;
    }

    #contact-form {
        margin: 30px 0px 50px 30px;
    }

    ul.afterlead {
        margin: 10px 0px 30px 0px;
    }

    .btn-contactme,
    .afterlead {
        font-size: 17px;
    }

    .nospace {
        margin: 0px 0px 0px 0px;
    }

    .featurette-divider {
        margin: 50px 0; /* Space out the Bootstrap <hr> more */
    }

    .myphoto {
        margin-left: 50px;
    }

    .contact-icon {
        margin-right: 10px;
    }

    /* Remove the edge padding needed for mobile */
    .highlights {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-nav {
        float: right;
        height: 60px;
    }

    .navbar-wrapper .container {
        padding-left:  15px;
        padding-right: 15px;
    }

    .navbar-wrapper .navbar {
        padding-left:  0;
        padding-right: 0;
    }

    .nav > li > a {
        padding: 0px 0px;
        font-size: 20px;
        text-shadow: 1px 1px #000000;
    }
    .nav > li {
        padding: 30px 15px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 35px;
    }

    .page-heading {
        font-size: 50px;
    }

    .img-title{
        width: auto;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 50px;
    }

    .page-heading {
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .navbar-brand {
        padding: 5px 0px 5px 40px;
    }

    .navbar-nav {
        padding: 5px 30px 5px 0px;
    }
}


@media (min-width: 1600px) {

    .parallelogram {
        width: 200px;
    }

    .navbar-brand {
        padding: 5px 15px 5px 205px;
    }

    .navbar-nav {
        padding: 5px 205px 5px 10px;
    }
}
